<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="./" style="font-size: 1.1rem;">
      <img src="images/profile_image_Apple.svg" width="50" class="d-inline-block" alt="takahiro kumihan">
      takahiro kumihan
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <!-- インデックスページへの行き方のサンプル -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="./">Top<span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            サイト
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="about">このサイトについて</a>
            <a class="dropdown-item" href="access">アクセス</a>
            <a class="dropdown-item" href="works">仕事内容</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user_post">連絡</a>
            <!-- 電話・住所の情報提示と問い合わせフォームを設置する。 -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="trafic_data">入稿</a>
            <!-- ファイルのアップロード機能を付与する。 -->
        </li>
      </ul>
    </div>
  </div>
</nav>
