<div class="jumbotron jumbotron-extend-error">
  <div class="container-fluid">
        <h1 style="line-height: 2.2rem;">404<br />ERROR...</h1>
        <h5>ご指定のページは<br/>存在しません。</h5>
        <a href="/" style="font-size: 0.8rem; color: white;">ページの先頭へ…</a>
  </div>
</div>